/* content와 title_wrap 제외 동일*/
.container {
    width: 100%;
    height: auto;
}

.main {
    display: block;
}

.title_wrap > div {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 35px;
}

.login {
    margin-top: 30px;
}

.login input {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-radius: 4px;
    border: solid 2px #333;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.limit {
    position: absolute;
    right: 13px;
    bottom: 20px;
    font-size: 16px;
}

.icon {
    vertical-align: middle; 
    font-size: 1.3rem
}

.errorMsg {
    position: absolute;
    bottom: -50px;
    color: #ac2323;
}

.find_pwd {
    text-decoration-line: underline;
    color:gray;
    letter-spacing: -0.5px;
    font-size: 0.9rem;
    float: right;
    margin-top: 5px;
}

.login > button {
    width: 100%;
    background-color: #ac2323;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.0rem;
    margin-top: 35px;
}

.account {
    font-size: 0.9rem;
    margin-top: 7px;
    text-align: center;
    letter-spacing: -0.7px;
}

.account > a {
    color: #ac2323;
    text-decoration-line: underline;
    font-weight: 500;
}

.login > p {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    letter-spacing: -.4px;
    line-height: 1.57;
    line-height: 0;
    margin-top: 25px;
    text-align: center;
}

.login > p:before {
    background-color: rgba(0, 0, 0, .1);
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
}

.login > p span {
    background-color: #fff;
    padding: 0 15px;
}

.social_wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    width: 100%;
}

.social_wrap div {
    width: 40px;
    height: 40px;
    border-radius: 80%;
    margin: 0 20px;
    cursor: pointer;
}

.social_wrap div img {
    width: 100%;
}

@media (min-width: 1080px) {
    .cotent {
        width: 400px;
        margin: 0 auto;
    }

    .title_wrap {
        position: relative;
        padding-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1079px) {
    .cotent {
        padding: 5px 20px;
        position: relative;
    }

    .title_wrap {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

