.post_wrap {
    padding: 10px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 430px;
    position: relative;
    background: #fff;
    max-width: 340px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 기본 그림자 설정 */
    transition: all 0.2s ease; /* hover 시 애니메이션 속도 설정 */
}

.post_wrap:hover {
    transform: translate(-5px, -5px); /* hover 시 왼쪽 및 위쪽으로 5px 이동 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* hover 시 그림자 크기 및 투명도 증가 */
}

.myswiper {
    margin: 10px 0 25px 0;
}

@media (min-width: 1080px) {
    .myswiper {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        overflow:visible;
    }
}