@media (min-width: 1080px) {
    .myswiper {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }
}

.myswiper {
    margin-top: 10px;
    width: 100%;
}

.rank_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b9b9b9;
    border-radius: 6px;
    padding: 10px;
    gap: 5px;
    max-width: 216px;
}

.rank_wrap:nth-child(1) {
    margin-left: 8px;
}

.first {
    outline: 2px solid gold;
    outline-offset: -2px;
    border: 1px solid gold;

    .left_wing {
        display: inline-block;
        margin-right: 1px;
        font-size: 1.4rem;
    }
    .right_wing {
        display: inline-block;
        transform: scaleX(-1);
        margin-left: 1px;
        font-size: 1.4rem;
    }
    .rank {
        color: gold;
    }
}

.second {
    outline: 2px solid #c0c0c0;
    outline-offset: -2px;
    border: 1px solid #c0c0c0;

    .left_wing {
        display: inline-block;
        margin-right: 1px;
        font-size: 1.4rem;
    }
    .right_wing {
        display: inline-block;
        transform: scaleX(-1);
        margin-left: 1px;
        font-size: 1.4rem;
    }
    .rank {
        color: #c0c0c0;
    }
}

.third {
    outline: 2px solid #CD7F32;
    outline-offset: -2px;
    border: 1px solid #CD7F32;

    .left_wing {
        display: inline-block;
        margin-right: 1px;
        font-size: 1.4rem;
    }
    .right_wing {
        display: inline-block;
        transform: scaleX(-1);
        margin-left: 1px;
        font-size: 1.4rem;
    }
    .rank {
        color: #CD7F32;
    }
}

.rank {
    font-size: 1.5rem;
}

.right_wing {
    display: none;
}

.left_wing {
    display: none;
}

.profile_wrap {
    width: 65px;
    height: 65px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #bababa;
}

.profile_wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user {
    font-size: 1.3rem;
    font-weight: 600;
    word-break: break-all;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
}

.point {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 4px;
}