.container {
    width: 100%;
    height: auto;
}

.post_wrap {
    border-top: 3px solid #ac2323;
    padding: 10px 0;
}

.postInfo_wrap {
    padding: 10px 0;
    display: flex;
    gap: 7px;
    width: 100%;
    position: relative;
}

.profile_wrap {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #5a5a5a;
}

.profile_wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    position: relative;
}

.user_wrap p:nth-child(1) {
    font-size: 1.3rem;
    color: 5a5a5a;
}

.user_wrap p:nth-child(2) {
    font-size: 1.1rem;
    color: #959595;
}

.postInfo_wrap ul {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5px;
    bottom: 15px;
    gap: 10px;
    font-size: 1.1rem;
}

.voteInfo {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    position: relative;
    width: 100%;
}

.state_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state_wrap > div {
    padding: 7px 10px;
    color: white;
    border-radius: 6px;
}

.voteTitle_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 5px;
    gap: 3px;
}

.voteTitle_wrap > p {
    word-break: break-all;
}
.voteTitle_wrap > div {
    font-size: 1.1rem;
    color: #c0c0c0;
}

.vote_wrap {
    padding-top: 28px;
    position: relative;
    margin-top: 7px;
}

/*단일선택/복수선택*/
.vote_wrap > div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 5px;
}

/*참여인원*/
.vote_wrap > div:nth-child(2) {
    position: absolute;
    top: 0;
    right: 5px;
} 

.vote_table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

.vote_table tbody td{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #5a5a5a;
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 12px;
}

.selected {
    outline: 2px solid #ac2323;
    outline-offset: -1px;
    border: 1px solid #ac2323;
}

.unselected {
    border: 1px solid #5a5a5a;
}

.result_wrap {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 8px;
    background-color: #cecece;
}

.option_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.option_wrap > p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.option_img {
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 6px;
    margin-right: 7px;
    position: relative;
    background-color: #f7f7f7;
    flex-shrink: 0;
}

.option_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.resultBtn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 1.0rem;
}

.resultBtn_wrap > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: #9b9b9b;
    font-size: 1.0rem;
}

.quick_vote {
    width: 70%;
    border: 1px solid #5a5a5a;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.0rem;
}

.result_vote {
    width: 30%;
    border: 1px solid #5a5a5a;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.0rem;
    white-space: nowrap;
}

.go_vote {
    width: 100%;
    border: 1px solid #5a5a5a;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.0rem;
}

.text {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text2 {
    position: absolute;
    left: 8px;
    width: calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.percent {
    position: absolute;
    right: 8px;
}

.content_wrap {
    margin-top: 10px;
    color: #5a5a5a;
}

.content_wrap{
    word-break: break-all;
}

.like_wrap {
    width: 100%;
    color: #ac2323;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like_wrap button {
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #ac2323;
    font-size: 1.0rem;
}

@media (min-width: 1080px) {
    .option_wrap:hover {
        background-color: #fceeee;
    }
    
    .view_wrap {
        max-width: 1000px;
        margin: 0 auto;
    }

    .board_title_wrap {
        margin-top: 20px;
        padding: 10px 14px 20px 14px;
        color: #343434;
        position: relative;
    }
    
    .board_title_wrap h1:before{
        content: "";
        margin: 7px;
        width: 8px;
        height: 28px;
        background-color: #343434;
        display: inline-block;
        position: absolute;
        left: -20px;
        toP: 3px;
    }

    .board_title_wrap h1{
        position: relative;
    }
}

@media (max-width: 1079px) {
    .view_wrap {
        display: block;
        padding: 0 20px;
    }

    .board_title_wrap {
        padding: 0 14px 10px 0;
        color: #343434;
        position: relative;
    }

    .board_title_wrap h1{
        position: relative;
        font-size: 1.6rem;
    }
}

@media (min-width: 576px) {
    .voteInfo_wrap {
        margin-top: 10px;
        padding-left: 54px;
    }

    .comment_input_wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        gap: 10px;
    }

    .comment_input {
        width: 100%;
        height: 52px;
        font-size: 1.1rem;
        padding: 5px 10px;
        border: 1px solid #424242;
        border-radius: 4px;
        resize: none;
    }

    .comment_input_wrap button {
        width: 52px;
        padding: 10px;
        border-radius: 4px;
        background-color: #ac2323;
        color: white;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .voteInfo_wrap {
        margin-top: 10px;
    }

    .comment_input_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
        gap: 5px;
        position: relative;
    }

    .comment_input {
        width: 100%;
        height: 75px;
        font-size: 1.1rem;
        padding: 5px 40px 5px 10px;
        border: 1px solid #424242;
        border-radius: 4px;
        resize: none;
    }

    .comment_input_wrap button {
        position: absolute;
        bottom: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        color: #ac2323;
        text-align: center;
    }
}