.container {
    width: 100%;
    height: auto;
}

@media (min-width: 1080px) {
    .contents {
        max-width: 1000px;
        margin: 0 auto;
    }

    .mobile {
        display: none;
    }

    .category {
        margin-top: 20px;
        padding: 10px 0 20px 0;
    }

    .category_title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

@media (max-width: 1079px) {
    .contents {
        padding: 5px 20px;
        position: relative;
    }

    .pc {
        display: none;
    }
}