@media (max-width: 1079px) {
    .sidemenu {
        background-color: white;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 850ms;
        z-index: 20000;
        overflow-y: auto;
    }

    .active {
        right: 0;
        transition: 350ms;
    }

    .sidemenu_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px 20px;
    }

    .sidemenu_header li {
        width: 40px;
    }
    .sidemenu_header li img {
        width: 100%;
        vertical-align: middle;
    }

    .sidemenu_login_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 20px;
    }

    .sidemenu_login_wrap a:nth-child(1) {
        padding: 10px;
        background-color: white;
        border: 1px solid black;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 0.9rem;
    }

    .sidemenu_login_wrap a:nth-child(2) {
        padding: 10px;
        background-color: #ac2323;
        color: white;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 0.9rem;
    }

    .sidemenu_info_wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 5px 20px;
        margin-bottom: 10px;
    }

    .userInfo_wrap {
        display: flex;
        gap: 12px;
    }

    .userInfo_wrap > div {
        width: 80px;
        height: 80px;
        min-width: 80px;
        position: relative;
        border-radius: 50%;
        border: 1px solid #5a5a5a;
    }

    .userInfo_wrap > div img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .userInfo_wrap > ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .selected {
        font-size: 0.9rem;
        color: #5040dc;
    }

    .unselected {
        font-size: 0.9rem;
        color: #6b6b6b;
    }

    .userInfo_wrap > ul li:nth-child(2) {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .userItem_wrap ul {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 1.0rem;
    }

    .userItem_wrap li {
        display: flex;
        flex: 0 0 50%;
    }

    .mytitle_wrap {
        justify-content: center;
        display: flex;
        gap: 3px;
        align-items: center;
        flex-direction: column;
        position: relative;
        cursor: pointer;
    }

    .point_wrap {
        justify-content: center;
        display: flex;
        gap: 3px;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .mytitle_wrap::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 50px;
        right: 0px;
        vertical-align: middle;
        background-color: #a6a6a6;
    }

    .breakline {
        border: 6px solid #dddddd;
    }

    .mobile_header {
        padding: 5px 20px;
        position: relative;
    }

    .sidemenu_item_wrap {
        padding: 10px 20px;
    }

    .sidemenu_item_wrap > li {
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .sidemenu_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .sidemenu_item > div {
        width: 30px;
        margin-right: 10px;
    }

    .sidemenu_item > div img {
        width: 100%;
    }

    .sidemenu_item > span {
        font-weight: 500;
        font-size: 1.7rem;
        letter-spacing: -0.05rem;
    }

    .sidemenu_item_list li {
        margin: 10px 0 10px 40px;
    }

    .sidemenu_item_list li:hover {
        color: #ac2323;
        margin-left: 45px;
        font-weight: 600;
    }

    .logout_wrap {
        padding: 15px 0;
        color:rgb(150, 150, 150);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logout_wrap > div {
        width: 20px;
    }

    .logout_wrap > div img {
        width: 100%;
        vertical-align: middle;
    }

    .logout_wrap > span {
        font-weight: 600;
        font-size: 1.0em;
        letter-spacing: -1px;
        cursor: pointer;
        position: relative;
        margin-left: 5px;
    }

    .dimmed {
        z-index: 15000;
        display: block;
        background: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: 1080px) {
    .mobile {
        display: none;
    }
}