@media (min-width: 1080px) {
    .pc_filter {
        position: absolute;
        border: 2px solid #ac2323;
        background-color: #f7f7f7;
        left: 96px;
        top: 45px;
        width: 303px;
        height: auto;
        border-radius: 7px;
        padding: 15px 20px 0 20px;
        z-index: 8;
    }

    .pc_filter h3 {
        font-size: 1.0rem;
    }

    .filter_wrap {
        margin: 7px 0 12px 0;
    }
    
    .pc_filter label {
        margin-right: 30px;
        font-size: 0.8rem;
    }
    
    .filter_wrap label input[type='radio']:checked {
        accent-color: #ac2323;
    }
    
    .pc_filter label span {
        margin-left: 5px;
    }
    
    .selected {
        color: #ac2323;
        font-weight: 600;
    }
    
    .submit_btn_wrap {
        width: 100%;
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .submit_btn_wrap button {
        background-color: #ac2323;
        color: white;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        width: 50%;
        height: 100%;
        border-radius: 4px;
    }
}

@media (max-width: 1079px) {
    .container {
        padding: 20px;
        position: relative;
    }
    
    .filter_wrap {
        margin: 20px 0 35px 0;
    }
    
    .container label {
        margin-right: 30px;
        font-size: 1.1rem;
    }
    
    .filter_wrap label input[type='radio']:checked {
        accent-color: #ac2323;
    }
    
    .container label span {
        margin-left: 5px;
    }
    
    .selected {
        color: #ac2323;
        font-weight: 600;
    }
    
    .submit_btn_wrap {
        position: fixed;
        bottom: 15px;
        right: 0;
        width: 100%;
        height: 46px;
        padding: 0 20px;
    }
    
    .submit_btn_wrap button {
        background-color: #ac2323;
        color: white;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }

    .pc_filter {
        display: none;
    }
}


