@media (max-width: 1079px) {
    .container {
        display: none;
    }
}

@media (min-width: 1080px) {
    .container {
        position: fixed;
        bottom : 20px;
        right : 21px;
        width: 147px;
        height: 48px;
        background-color: #ac2323;
        color: white;
        border-radius: 10px;
        z-index: 5;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        box-shadow: 5px 5px 5px -4px#333;
    }

    .container:hover {
        background-color: #932929;
    }
}

.write_wrap {
    display: flex;
    align-items: center;
}
.write_img {
    width: 27px;
    position: relative;
    margin-right: 5px;
}

.write_img img {
    width: 100%;
    vertical-align: middle;
}