@media (min-width: 1080px) {
    .mobile {
        display: none;
    }

    .pc h2 {
        background: none;
        line-height: 30px;
        padding: 24px 0;
        margin: 0;
        color: #ac2323;
        background-color: #F4F4F4;
        font-size: 26px;
        letter-spacing: -2px;
        font-weight: 600;
        text-align: center;
        border-top: 3px solid #ac2323;
    }

    .menu_list > li > a {
        padding: 20px 15px;
        border-bottom: 1px solid #ddd;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.3;
        display: block;
        position: relative;
        word-break: keep-all;
    }
    
    .menu_list > li > a:hover:not(.active) {
        color: white;
        background-color: #c8c8c8;
    }
    
    .active {
        color: white;
        background-color: #ac2323;
    }
}

@media (max-width: 1079px) {
    .pc {
        display: none;
    }

    .menu_list {
        display: flex;
        overflow: auto;
        white-space: nowrap;
    }

    .menu_list::-webkit-scrollbar {
        height: 4px;  
    }

    .menu_list::-webkit-scrollbar-thumb {
        background-color: #ebe9e9;
        border-left: 20px solid white;
        border-right: 20px solid white;
    }

    .menu_list::-webkit-scrollbar-thumb:hover {
        background-color: #c8c8c8;
    }

    .menu_list a {
        padding: 5px 11px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.5;
        display: inline-block;
        position: relative;
        word-break: keep-all;
        border-radius: 30px;
        margin-left: 20px;
        margin-bottom: 6px;
    }

    .menu_list div:nth-child(5) a {
        margin-right: 20px;
    }
    
    .menu_list a:not(.active) {
        color: gray;
        background-color: #f0efef;
    }
    
    .active {
        color: white;
        background-color: #ac2323;
    }
}




