.container {
    width: 100%;
    height: auto;
}

.post_container {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 0;
}

.post_wrap td {
    border-top: 1px solid #d4d4d4;
    padding: 10px 0;
}

@media (min-width: 1080px) {
    .pc_mypage {
        max-width: 1200px;
        margin: 0 auto;
        padding: 35px 0 60px;
        display: flex;
        flex-wrap: nowrap;
    }

    .mobile_mypage {
        display: none;
    }

    .sidebar_wrap {
        width: 220px;
        margin-right: 60px;
    }

    .content {
        float: left;
        width: calc(100% - 280px);
        padding: 0;
        margin: 0;
    }

    .main {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .mypage {
        font-size: 30px;
        font-weight: 600;
        color: #ac2323;
        padding-bottom: 8px;
        border-bottom: 2px solid #ac2323;
    }

    .profile {
        margin-top: 15px;
        background-color: #f7f7f7;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .imagebox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        overflow: hidden;
        background-color: white;
        margin-right: 15px;
        display: flex;
        align-items: center;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .namebox {
        font-size: 20px;
        align-items: center;
    }

    .namebox>div {
        display: flex;
        align-items: center;
    }

    .namebox .title {
        font-size: 20px;
        color: #468FD3;
    }

    .namebox span {
        font-size: 25px;
        font-weight: 600;
    }

    .namebox button {
        background-color: #ac2323;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
    }

    .namebox button:hover {
        background-color: #8b1b1b;
    }

    .userinfo {
        padding: 10px;
        color: dimgray;
    }

    .userinfo span {
        color: black;
        margin-left: 10px;
        font-weight: 600;
    }

    .posting {
        margin-top: 10px;
        padding: 15px;
    }

    .inactive {
        margin-right: 15px;
        padding: 6px;
        font-size: 18px;
        font-weight: 600;
        color: gray;
        cursor: pointer;
    }

    .active {
        color: #ac2323;
        border-bottom: 4px solid #ac2323;
        margin-right: 15px;
        padding: 6px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .postlist {
        width: 100%;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        margin-top: 30px;
        position: relative;
    }

    .plus {
        position: absolute;
        top: 510px;
        right: 180px;
        color: gray;
        cursor: pointer;
    }

    .post {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid gray;
    }

    .post div:nth-child(1) {
        font-size: 18px;
    }

    .post div:nth-child(1) span {
        color: #ac2323;
        font-weight: 600;
    }
}

@media (max-width: 1079px) {
    .pc_mypage {
        display: none;
    }

    .mobile_mypage {
        display: block;
    }

    .topbar_wrap {
        margin-bottom: 8px;
    }

    .content {
        padding: 0 20px;
    }

    .main {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .profile {
        margin-top: 5px;
        background-color: #f7f7f7;
        border: 1px solid gray;
        border-radius: 5%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .imagebox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        overflow: hidden;
        background-color: white;
        margin-right: 15px;
        display: flex;
        align-items: center;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .namebox {
        font-size: 20px;
        align-items: center;
    }

    .namebox>div {
        display: flex;
        align-items: center;
    }

    .namebox .title {
        font-size: 20px;
        color: #468FD3;
    }

    .namebox button {
        background-color: #ac2323;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
    }

    .namebox button:hover {
        background-color: #8b1b1b;
    }

    .namebox span {
        font-size: 25px;
        font-weight: 600;
    }

    .userinfo {
        padding: 10px;
        color: dimgray;
    }

    .userinfo span {
        color: black;
        float: right;
        margin-left: 10px;
        font-weight: 600;
    }

    .posting {
        margin-top: 10px;
        padding: 15px;
    }

    .inactive {
        margin-right: 15px;
        padding: 6px;
        font-size: 18px;
        font-weight: 600;
        color: gray;
        cursor: pointer;
    }

    .active {
        color: #ac2323;
        border-bottom: 4px solid #ac2323;
        margin-right: 15px;
        padding: 6px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .postlist {
        width: 100%;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        margin-top: 30px;
        position: relative;
    }

    .plus {
        background-color: #f7f7f7;
        border: 1px solid gray;
        border-radius: 50px;
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: 20px;
        top: 500px;
        color: black;
        cursor: pointer;
        width: 100%;
    }


    .post {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid gray;
    }

    .post div:nth-child(1) {
        font-size: 18px;
    }

    .post div:nth-child(1) span {
        color: #ac2323;
        font-weight: 600;
    }
}