.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.title_wrap {
    display: flex;
    gap: 0 5px;
    padding-right: 20px;
}
.title_wrap > div{
    padding: 3px 6px;
    border-radius: 4px;
    color: white;
}
.title_wrap p{
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.title_wrap p:nth-child(2):hover {
    text-decoration-line: underline;
}

.voteInfo_wrap {
    color: #a9a9a9;
    font-size: 1.0rem;
    margin-top: 3px;
}

.postInfo_wrap {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #8d8d8d;
}

.postInfo_wrap li {
    display: inline-block;
    vertical-align: middle;
}

.postInfo_wrap li > div {
    display: flex;
    align-items: center;
}

.postInfo_wrap li:nth-child(3) {
    color: rgb(201, 0, 0);
    margin-right: 8px;
}

.postInfo_wrap li:nth-child(4) {
    color: #412ed1;
    margin-right: 8px;
}

.postInfo_wrap li:nth-child(5) {
    color: #5a5a5a;
}

.postInfo_wrap li:nth-child(1)::after, .postInfo_wrap li:nth-child(2)::after {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 7px;
    vertical-align: middle;
    background: #e0e0e0;
    content: '';
}

.vote_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    gap: 6px;
}

.vote_table tbody { 
    display: flex;
    overflow-x: auto;
    position: relative;
}

.prev {
    position: absolute;
    width: 24px;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));
}

.next {
    position: absolute;
    width: 24px;
    z-index: 1;
    height: 100%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));
}

.vote_table tbody::-webkit-scrollbar {
    height: 8px;
    background-color: #f4f4f4;
}

.vote_table tbody::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border: 2px solid #f4f4f4;
}

.option_wrap {
    padding: 8px 9px 6px 9px;
    height: 100%;
    min-height: 180px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    gap: 3px;
    cursor: pointer;
}

.selected {
    outline: 2px solid #ac2323;
    outline-offset: -2px;
    border: 1px solid #ac2323;
}

.unselected {
    border: 1px solid #5a5a5a;
}

.option_percent_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 2.2rem;
}

.result_wrap {
    padding: 8px 9px 6px 9px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 180px;
    font-size: 1.0rem;
    gap: 3px;
    position: relative;
}

/*height가 percent*/
.result {
    position: absolute;
    bottom:0;
    z-index: -1;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.result_percent_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
    min-height: 2.2rem;
}

.imgText p{
    text-overflow: clip;
    overflow: hidden;
    word-break: break-all;
    line-height: 1.1;
    letter-spacing: -1px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text p{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.percent {
    font-size: 0.9rem;
    margin-right: 1px;
}

.option_img {
    width: 140px;
    height: 120px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid transparent;
}

.option_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.content_wrap {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #474747;
    min-height: 20px;
}

.content_wrap > p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media (min-width: 769px) {
    /*모바일은 옵션 hover 시 효과 없음*/
    .option_wrap:hover {
        background-color: #fceeee;
    }

    .vote_table {
        max-width: 100%;
        width: 100%;
        table-layout: fixed;
        position: relative;
        border-collapse: collapse;
    }
    /*그림있는 옵션은 높이 120px이상임*/
    .vote_table tbody td {
        min-width: 170px;
        width: 170px;
        height: 120px;
        padding: 0 10px 6px 0;
        position: relative;
        border: none;
    }

    .voteBtn_wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 11px;
        width: 100%;
    }

    .voteBtn_wrap div {
        border: 1px solid #5a5a5a;
        padding: 7px 86px;
        border-radius: 4px;
        font-size: 0.9rem;
        color: #a9a9a9;
    }

    .quick_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 48px;
        border-radius: 4px;
        font-size: 0.9rem;
    }
    .result_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 48px;
        border-radius: 4px;
        font-size: 0.9rem;
    }
    .go_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 121px;
        border-radius: 4px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .vote_table {
        max-width: 100%;
        width: 100%;
        table-layout: fixed;
        position: relative;
        border-collapse: collapse;
    }

    .vote_table tbody td {
        min-width: 170px;
        width: 170px;
        height: 120px;
        padding: 0 10px 6px 0;
        position: relative;
        border: none;
    }

    .voteBtn_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .voteBtn_wrap div {
        border: 1px solid #5a5a5a;
        width: 100%;
        padding: 7px 0;
        text-align: center;
        border-radius: 4px;
        font-size: 0.9rem;
        color: #a9a9a9;
    }
    
    .quick_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 0;
        border-radius: 4px;
        font-size: 0.9rem;
        width: 50%;
    }

    .result_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 0;
        border-radius: 4px;
        font-size: 0.9rem;
        width: 50%;
    }

    .go_vote {
        border: 1px solid #5a5a5a;
        padding: 7px 0;
        border-radius: 4px;
        font-size: 0.9rem;
        width: 100%;
    }
    
}