.comment_wrap {
    margin-top: 20px;
    border-top: 1px solid #e8e8e8;
    width: 100%;
    padding: 10px 0px;
}

.comment_wrap span {
    color: #ac2323;
    font-weight: 600;
}

.comment_list_wrap {
    margin-bottom: 10px;
}

.comment_list {
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

/*프로필과 유저정보를 감싸는 태그*/
.comment_list > div:nth-child(1) {
    padding: 5px 0;
    display: flex;
    gap: 7px;
    width: 100%;
}

.comment_profile {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #5a5a5a;
}

.comment_profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.comment_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    position: relative;
}

.comment_info p:nth-child(1) {
    font-size: 1.1rem;
    color: 5a5a5a;
}

.comment_info p:nth-child(2) {
    font-size: 1.0rem;
    color: #959595;
}

.comment_text {
    font-size: 1.1rem;
    word-break: break-all;
    color: #5a5a5a;
}

@media (min-width: 576px) {
    .comment_input_wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        gap: 10px;
    }

    .comment_input {
        width: 100%;
        height: 52px;
        font-size: 1.1rem;
        padding: 5px 10px;
        border: 1px solid #424242;
        border-radius: 4px;
        resize: none;
    }

    .comment_input_wrap button {
        width: 52px;
        padding: 10px;
        border-radius: 4px;
        background-color: #ac2323;
        color: white;
        text-align: center;
    }

    .comment_input_wrap button:hover {
        background-color: #932929;
    }
}

@media (max-width: 575px) {
    .comment_input_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
        gap: 5px;
        position: relative;
    }

    .comment_input {
        width: 100%;
        height: 75px;
        font-size: 1.1rem;
        padding: 5px 40px 5px 10px;
        border: 1px solid #424242;
        border-radius: 4px;
        resize: none;
    }

    .comment_input_wrap button {
        position: absolute;
        bottom: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        color: #ac2323;
        text-align: center;
    }

    .comment_input_wrap button:hover {
        color: #932929;
    }
}