@media (min-width: 1080px) {
    .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .category a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .category a > span:nth-child(1){
        width: 80px;
        background-color: #ededed;
        padding: 5px;
        border: 2px solid #ededed;
        border-radius: 8px;
    }
    
    .category a > span:nth-child(1) img{
        width: 100%;
    }
    
    .category a > span:nth-child(2) {
        font-size: 1.3rem;
        font-weight: 500;
        padding-top: 7px;
    }

    .icon {
        font-size: 4.0rem;
        color: #343434;
        vertical-align: middle;
    }

    .category_wrap:nth-child(4) span:nth-child(1) .icon{
        padding: 5px;
    }
}
@media (max-width: 1079px) and (min-width: 768px) {
    .icon {
        font-size: 4.0rem;
        color: #343434;
        transition: all 1s ease-in;
    }
}

@media (max-width: 767px) {
    .icon {
        font-size: 2.5rem;
        color: #343434;
        transition: all 1s ease-in;
    }
}
@media (max-width: 1079px) {
    .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    
    .category_wrap {
        width: 21%;
        display: flex;
        justify-content: center;
    }

    .category a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;    
    }
    
    .category a > span:nth-child(1){
        background-color: #ededed;
        padding: 5px 5px 2px 5px;
        border: 2px solid #ededed;
        border-radius: 8px;
    }
    
    .category a > span:nth-child(1) img{
        width: 100%;
    }
    
    .category a > span:nth-child(2) {
        font-size: 0.9rem;
        font-weight: 500;
        padding-top: 7px;
    }

    .category_wrap:nth-child(4) span:nth-child(1) .icon{
        padding: 2px;
    }
}