.container {
    width: 100%;
    height: auto;
}

@media (min-width: 1080px) {
    .pc_infoedit {
        max-width: 1200px;
        margin: 0 auto;
        padding: 35px 0 60px;
        display: flex;
        flex-wrap: nowrap;
    }

    .mobile_infoedit {
        display: none;
    }

    .sidebar_wrap {
        width: 220px;
        margin-right: 60px;
    }

    .content {
        float: left;
        width: calc(100% - 280px);
        padding: 0;
        margin: 0;
    }

    .main {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .edit {
        font-size: 30px;
        font-weight: 600;
        color: #ac2323;
        padding-bottom: 8px;
    }

    .required {
        font-size: 20px;
        color: #ac2323;
        font-weight: 600;
    }

    .editform {
        width: 100%;
        margin: 0 auto;
        background-color: #f7f7f7;
        margin-top: 10px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .editform span {
        color: #ac2323;
        font-weight: 600;
    }

    .imagebox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .filecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        padding: 10px;
    }

    .filebox,
    .filebox2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .filebox label,
    .filebox2 button {
        cursor: pointer;
        width: 45px;
        height: 25px;
        background-color: lightgray;
        border-radius: 8px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .filebox input {
        display: none;
    }

    .edittable {
        border-collapse: separate;
        border-spacing: 20px 25px;
        font-size: 20px;
    }

    .edittable tr td input {
        width: 200px;
        height: 40px;
        font-size: 17px;
        border-radius: 8px;
        padding-left: 10px;
        letter-spacing: 1.5px;
    }

    .edittable td:nth-child(1) {
        width: 30%;
    }

    .edittable td:nth-child(2) {
        padding-left: 20px;
    }

    .edittable tr:nth-child(5) button {
        width: 120px;
        height: 35px;
        font-size: 15px;
        background-color: #ac2323;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .buttonbox {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .buttonbox button {
        width: 100px;
        height: 40px;
        font-size: 20px;
        margin-right: 10px;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
    }

    .buttonbox button:first-child {
        background-color: #ac2323;
    }

    .buttonbox button:last-child {
        background-color: #C2C2C2;
    }

    .modal {
        position: fixed;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 300px;
        background-color: #f7f7f7;
        border-radius: 12px;
        border: 1px solid gray;
        padding: 0;
    }

    .modalheader {
        height: 40px;
        background-color: #ac2323;
        color: white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modalbody {
        padding: 15px;
    }

    .passwordtable {
        border-collapse: separate;
        border-spacing: 10px 15px;
        font-size: 10px;
    }

    .passwordtable tr td input {
        width: 300px;
        height: 30px;
    }

    .buttonbox2 {
        padding-top: 20px;
        margin-top: 15px;
        border-top: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonbox2 button {
        width: 80px;
        height: 30px;
        font-size: 15px;
        margin-right: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .buttonbox2 button:first-child {
        background-color: #ac2323;
        color: white;
    }

    .buttonbox2 button:last-child {
        background-color: #C2C2C2;
    }
}

@media (max-width: 1079px) {
    .pc_infoedit {
        display: none;
    }

    .mobile_infoedit {
        display: block;
    }

    .topbar_wrap {
        display: block;
        margin-bottom: 8px;
    }

    .content {
        padding: 0 20px;
    }

    .main {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .editwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .edit {
        font-size: 30px;
        font-weight: 600;
        color: #ac2323;
        padding-bottom: 8px;
    }

    .required {
        font-size: 20px;
        color: #ac2323;
        font-weight: 600;
    }

    .editform {
        width: 100%;
        margin: 0 auto;
        background-color: #f7f7f7;
        margin-top: 10px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .editform span {
        color: #ac2323;
        font-weight: 600;
    }

    .imagebox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .filecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .filebox2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .filebox label,
    .filebox2 button {
        cursor: pointer;
        width: 50px;
        height: 30px;
        background-color: lightgray;
        border-radius: 8px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .filebox input {
        display: none;
    }

    .edittable {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        font-size: 16px;
    }

    .edittable td {
        padding: 10px;
    }

    .edittable tr td input {
        width: calc(100% - 20px);
        height: 40px;
        font-size: 17px;
        border-radius: 8px;
        padding-left: 10px;
        letter-spacing: 1.5px;
    }

    .edittable td:nth-child(1) {
        vertical-align: middle;
        width: 40%;
        padding-left: 20px;
    }

    .edittable td:nth-child(2) {
        width: 95%;
    }

    .edittable tr:nth-child(5) button {
        width: 120px;
        height: 35px;
        font-size: 15px;
        background-color: #ac2323;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .buttonbox {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .buttonbox button:nth-child(1) {
        width: 100px;
        height: 40px;
        font-size: 20px;
        margin-right: 10px;
        border: none;
        border-radius: 8px;
        background-color: #ac2323;
        color: white;
    }

    .buttonbox button:nth-child(2) {
        width: 100px;
        height: 40px;
        font-size: 20px;
        margin-left: 10px;
        border: none;
        border-radius: 8px;
        background-color: #C2C2C2;
        color: white;
    }

    .modal {
        position: fixed;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);

        width: 90%;
        height: 300px;

        background-color: #f7f7f7;
        border-radius: 12px;
        border: 1px solid gray;
        padding: 0;
    }

    .modalheader {
        height: 40px;
        background-color: #ac2323;
        color: white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modalbody {
        padding: 15px;
    }

    .passwordtable {
        border-collapse: separate;
        border-spacing: 10px 15px;
        font-size: 10px;
    }

    .passwordtable tr td input {
        width: 100%;
        height: 30px;
    }

    .buttonbox2 {
        padding-top: 20px;
        margin-top: 15px;
        border-top: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonbox2 button:nth-child(1) {
        width: 80px;
        height: 30px;
        font-size: 15px;
        margin-right: 10px;
        border: none;
        border-radius: 8px;
        background-color: #ac2323;
        color: white;
        cursor: pointer;
    }

    .buttonbox2 button:nth-child(2) {
        width: 80px;
        height: 30px;
        font-size: 15px;
        margin-left: 10px;
        border: none;
        border-radius: 8px;
        background-color: #C2C2C2;
        color: white;
    }
}