.container {
    width: 100%;
    position: relative;
    background-color: #000000;
    opacity: 0.75;
    color: white;
    margin-top: auto;
}

.pc_footer {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
}

.mobile_footer {
    padding: 12px 20px;
    margin-bottom: 70.8px;
}

@media (min-width: 1080px) {
    .pc {
        display: block;
    }
    .mobile {
        display: none;
    }

    .footer_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
    }

    .footer_wrap ul:nth-child(2) li {
        cursor: pointer;
    }

    .footer_wrap li {
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 0 10px;
    }

    .footer_wrap li > div img{
        width: 100%;
        vertical-align: middle;
    }

    .footer_wrap ul:nth-child(2) li {
        cursor: pointer;
    }
}

@media (max-width: 1079px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }

    .footer_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }

    .footer_wrap ul {
        margin-bottom: 10px;
    }

    .footer_wrap li {
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 0 10px;
        cursor: pointer;
    }

    .footer_wrap li > div img{
        width: 100%;
        vertical-align: middle;
    }

    .footer_wrap div {
        font-size: 0.6rem;
    }
}