* {
    margin: 0;
    padding: 0;
    word-break: keep-all;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.App {
    height: 100%;
}

@media (min-width: 1080px) {
    .main {
        display: block;
        padding-top: 141px;
        position: relative;
        min-height: calc(100vh - 70px);
    }
}

@media (max-width: 1079px) {
    .main {
        display: block;
        padding: 80px 20px 0 20px;
        position: relative;
        min-height: calc(100vh - 159.9px);
    }
}