.state_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state_wrap > div {
    padding: 5px 7px;
    border-radius: 4px;
    color: white;
}

.vote_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #5a5a5a;
    position: relative;
}

.content_wrap > p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postInfo_wrap li {
    display: inline-block;
    vertical-align: middle;
}

.postInfo_wrap li > div {
    display: flex;
    align-items: center;
}

.postInfo_wrap li:nth-child(3) {
    color: rgb(201, 0, 0);   
    margin-right: 8px;
}

.postInfo_wrap li:nth-child(4) {
    color: #412ed1;
    margin-right: 8px;
}

.postInfo_wrap li:nth-child(5) {
    color: #5a5a5a;
}

@media (min-width: 1080px) {
    .title_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7px;
    }

    .title_wrap > p{
        font-size: 1.2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .title_wrap > div {
        color: #a9a9a9;
        font-size: 1.0rem;
    }

    .vote_wrap {
        display: flex;
        margin-top: 7px;
        justify-content: center;
    }

    .vote_table tbody {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        max-height: 176px;
        overflow-y: auto;
        padding: 8px 5px;
        gap: 10px 0;
    }

    .vote_table tbody::-webkit-scrollbar {
        width: 8px;
        background-color: #f4f4f4;
    }

    .vote_table tbody::-webkit-scrollbar-thumb {
        background-color: #747474;
        border: 2px solid #f4f4f4;
    }
    
    .vote_table tbody td{
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #5a5a5a;
        font-size: 1.1rem;
        position: relative;
    }

    .option_wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 8px;
        border-radius: 8px;
    }

    .option_wrap > p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .option_img {
        display: flex;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: 6px;
        margin-right: 7px;
        position: relative;
        background-color: #f7f7f7;
        flex-shrink: 0;
    }

    .option_img img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
    }

    .result_wrap {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 8px;
        border-radius: 7px;
        background-color: #cacaca;
    }
/*text: 이미지 있는 옵션, text2 : 이미지 없는 옵션*/
    .text {
        position: absolute;
        left: 70px;
        width: calc(100% - 120px);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .text2 {
        position: absolute;
        left: 10px;
        width: calc(100% - 60px);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .percent {
        position: absolute;
        right: 8px;
    }

    .quick_vote {
        width: 50%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        border-right: 1px solid #5a5a5a;
        cursor: default;
        color: #a9a9a9;
    }
    .result_vote {
        width: 50%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
    }
    .go_vote {
        width: 100%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        cursor: pointer;
        color: black;
    }
    .vote_table tfoot div {
        width: 100%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        color:#a9a9a9;
    }
    

    .content_wrap {
        margin-top: 10px;
        font-size: 0.9rem;
        color: #474747;
    }

    .postInfo_wrap {
        margin-top: 10px;
        font-size: 0.9rem;
        color: #8d8d8d;
        position: absolute;
        bottom: 15px;
    }

    .postInfo_wrap li:nth-child(1)::after, .postInfo_wrap li:nth-child(2)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 7px;
        vertical-align: middle;
        background: #e0e0e0;
        content: '';
    }
}

@media (max-width: 1079px) {
    .title_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7px;
    }

    .title_wrap > p{
        font-size: 1.2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .title_wrap > div {
        color: #a9a9a9;
        font-size: 1.0rem;
    }

    .vote_wrap {
        display: flex;
        margin-top: 7px;
        justify-content: center;
    }

    .vote_table tbody {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        max-height: 176px;
        overflow-y: auto;
        padding: 8px 5px;
        gap: 10px 0;
    }

    .vote_table tbody::-webkit-scrollbar {
        width: 8px;
        background-color: #f4f4f4;
    }

    .vote_table tbody::-webkit-scrollbar-thumb {
        background-color: #747474;
        border: 2px solid #f4f4f4;
    }
    
    .vote_table tbody td{
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #5a5a5a;
        font-size: 1.1rem;
        position: relative;
    }

    .option_wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 8px;
        border-radius: 8px;
    }

    .option_wrap > p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .option_img {
        display: flex;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: 6px;
        margin-right: 7px;
        position: relative;
        background-color: #f7f7f7;
        flex-shrink: 0;
    }

    .option_img img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
    }

    .result_wrap {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 8px;
        border-radius: 7px;
        background-color: #cecece;
    }

    .text {
        position: absolute;
        left: 70px;
        width: calc(100% - 120px);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .text2 {
        position: absolute;
        left: 10px;
        width: calc(100% - 60px);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .percent {
        position: absolute;
        right: 8px;
    }

    .quick_vote {
        width: 50%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        border-right: 1px solid #5a5a5a;
        cursor: default;
        color: #a9a9a9;
    }
    .result_vote {
        width: 50%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
    }
    .go_vote {
        width: 100%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        cursor: pointer;
        color: black;
    }
    .vote_table tfoot div {
        width: 100%;
        padding: 10px;
        border-top: 1px solid #5a5a5a;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        color:#a9a9a9;
    }

    .content_wrap {
        margin-top: 10px;
        font-size: 0.9rem;
        color: #474747;
    }

    .postInfo_wrap {
        margin-top: 10px;
        font-size: 0.9rem;
        color: #8d8d8d;
        position: absolute;
        bottom: 15px;
    }

    .postInfo_wrap li:nth-child(1)::after, .postInfo_wrap li:nth-child(2)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 7px;
        vertical-align: middle;
        background: #e0e0e0;
        content: '';
    }
}